{% load static %}
<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,600" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel='stylesheet'
         href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
      <link rel="stylesheet" href="{% static '../static/style.css' %}">
      <link rel="stylesheet" href="{% static '../static/style.css.map' %}">

   </head>

   <body>
      <div class="container">
         <section id="formHolder">

            <div class="row">

               <div class="col-sm-6 brand">
                  <a href="#" class="logo">Chatee</a>

                  <div class="heading">
                     <h2>Chatee</h2>
                     <p>Your Right Choice</p>
                  </div>
               </div>

               <div class="col-sm-6 form">
                  <!-- Login -->

                  <div class="login form-peice">
                     <form class="login-form" action="login" method="POST" autocomplete="off">
                        {% csrf_token %}
                        <legend>Sign in</legend>
                        <div class="form-group">
                           <label for="loginemail">username</label>
                           <input type="text" name="username" id="loginemail" required>
                        </div>

                        <div class="form-group">
                           <label for="loginPassword">Password</label>
                           <input type="password" name="password" id="loginPassword" required>
                        </div>

                        <div class="CTA">
                           <input type="submit" value="Sign in">
                           <a href="#" class="switch">I'm New</a>
                        </div>
                     </form>
                  </div>

                  <!-- Reg -->

                  <div class="signup form-peice switched">
                     <form class="signup-form" action="register" method="POST" autocomplete="off">
                        {% csrf_token %}
                        <legend>Create an account</legend>

                        <div class="form-group">
                           <label for="name">Full Name</label>{% for message in messages%}<small>{{message}}</small>{% endfor %}
                           <input type="text" name="username" id="name" class="name">
                           <span class="error"></span>
                        </div>

                        <div class="form-group">
                           <label for="email">Email Adderss</label>
                           <input type="email" name="email" id="email" class="email">
                           <span class="error"></span>
                        </div>

                        <!-- <div class="form-group">
                           <label for="phone">Phone Number</label>
                           <input type="text" name="phone" id="phone" required>
                        </div> -->

                        <div class="form-group">
                           <label for="password">Password</label>
                           <input type="password" name="password" id="password" class="pass">
                           <span class="error"></span>
                        </div>

                        <div class="CTA">
                           <input type="submit" value="Sign up" id="submit">
                           <a href="#" class="switch">I have an account</a>
                        </div>
                     </form>
                  </div>
               </div>
            </div>

         </section>

      </div>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
      <script src="{% static 'script.js' %}"></script>

   </body>

</html>
